.box{
    border: 5px solid black;
    border-radius: 8px;
}
input::placeholder{
    padding: 20px 20px 0px 0px;
    font-size: 20px;
}
#result{
    border: 3px solid black;
}
.btn{
    margin: 5%;
    padding: 20px;
}
